html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #DB3022;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiInputBase-root, .MuiFormControl-root, .MuiInputBase-root.Mui-focused{
  border-radius: 15px;
  background: white;
}
.MuiInputLabel-root{
margin-inline: 5px;
}
        .ProductList>div::-webkit-scrollbar {
display: none;
  }

  .MuiTabs-indicator{
    height: 5px;
    border-radius: 5px 5px 0px 0px;
  }
  button.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected::before {
    height: 50px;
    width: 50px;
    background: red;
    content: "";
    color: red;
    position: fixed;
    z-index: -1;
    /* background: white; */
    border-radius: 30px;
    bottom: 2px
  }
  button.MuiButtonBase-root.MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
    color: black;
}
button.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected{
  color: white;
}
button.MuiButtonBase-root.MuiBottomNavigationAction-root >svg.MuiSvgIcon-root  {
  font-size: x-large;
  transition: 0.5s;
}
button.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected >svg.MuiSvgIcon-root  {
  font-size: xx-large;
}
